*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
  background-color: #181818;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#left {
  left: 0;
  top: 0;
  background-color: #1818184e;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
/* Sign In */
#signin {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%;
  padding-bottom: 1rem;
}
#signin form {
  width: 80%;
  padding-bottom: 3rem;
}
#signin .logo {
  margin-bottom: 8vh;
}
#signin .logo img {
  width: 400px;
}
#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
  color: #fff;
}
#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #000000be;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}
#right {
  flex: 1;
}
.error {
  color: red;
  margin-bottom: 1rem;
}

.homepage-logo {
  margin-bottom: 10px;
  position: relative;
  height: 60px;
  padding-bottom: 20px;
}
button {
  background-color: #ffffff00;
}
.css-button {
  border: 1px solid #0096ff;
  height: 2.7rem;
  display: block;
  width: 218px;
  font-weight: 500;
  position: relative;
  margin: auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

p.css-button-text {
  width: 100%;
  margin-top: 3.5%;
  position: absolute;
}
p.css-button-text-2 {
  margin-top: -1%;
}
.css-button-inner {
  height: 70px;
  width: 265px;
  position: relative;
  left: -4px;
  top: -20px;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  text-align: center;
  -webkit-transform: skew(-42deg) translate(300px, 0);
  -moz-transform: skew(-42deg) translate(300px, 0);
  -o-transform: skew(-42deg) translate(300px, 0);
  transform: skew(-42deg) translate(300px, 0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.reset-skew {
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}

.css-button:hover > .css-button-inner {
  -webkit-animation-name: buttonx-in;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-20px, -0px);
  -o-transform: skew(-42deg) translate(-20px, -0px);
  transform: skew(-42deg) translate(-20px, -0px);
}

@keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-20px, -0px);
  }
}

@keyframes buttonx-out {
  from {
    transform: skew(-42deg) translate(0, 0);
  }
  to {
    transform: skew(-42deg) translate(300px, -0px);
  }
}

@-webkit-keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-20px, -0px);
  }
}

@-webkit-keyframes buttonx-out {
  from {
    transform: skew(-42deg) translate(0, 0);
  }
  to {
    transform: skew(-42deg) translate(300px, -0px);
  }
}
.hidden {
  display: none;
}

div-error {
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: bold;
}
.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.secondary-btn:hover {
  border-color: #0096ff;
  color: #0096ff;
}
#signin .primary-btn {
  width: 100%;
}
#signin .secondary-btn,
.or,
.links {
  width: 60%;
}
#signin .links a {
  display: block;
  color: #0096ff;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
#signin .or {
  display: flex;
  margin-bottom: 1.2rem;
  align-items: center;
}
#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}
#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;
}
#main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

#main-footer-signup {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  /* padding-top: 1rem; */
}

#main-footer-signup a {
  color: #0096ff;
  text-decoration: underline;
}

#main-footer a {
  color: #0096ff;
  text-decoration: underline;
}
#showcase {
  background-position: absolute;
  background-size: fill;
  background-repeat: no-repeat;
  display: flex;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}
#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}
/* Screens above 1200px */
@media only screen and (min-width: 1200px) {
  #left {
    flex: 4;
  }
  #right {
    flex: 6;
  }
}
@media only screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
  #right {
    display: none;
  }
  #left {
    justify-content: start;
    margin-top: 4vh;
  }
  #signin .logo {
    margin-bottom: 2vh;
  }
  #signin .text-input {
    margin-bottom: 0.7rem;
  }
  #main-footer {
    padding-top: 1rem;
  }
}

.eye {
  position: absolute;
  transform: translate(-20px, -10px);
  bottom: 220px;
  color: #fff;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
}

.creditIcon {
  width: 20px;
  height: 20px;
}
