*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#left {
  left: 0;
  top: 0;
  background-color: #1818184e;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
/* Sign In */
#signin {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 115%;
  padding-bottom: 1rem;
}
#signin form {
  width: 80%;
  padding-bottom: 3rem;
}
#signin .logo {
  margin-bottom: 8vh;
}
#signin .logo img {
  width: 400px;
}
#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
  color: #fff;
  transform: translateX(0.5vw);
}
#signin ::placeholder {
  font-size: smaller;
  color: #adadad;
}
#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 20px;
  background: #0000006c;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}
#right {
  flex: 1;
}

.homepage-logo {
  margin-top: 5%;
  margin-bottom: 10px;
  position: relative;
  height: 60px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.secondary-btn {
  padding: 0.55rem 1rem;
  width: 100%;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #0096ff;
  color: #0096ff;
}
#signin .primary-btn {
  width: 100%;
}
#signin .secondary-btn,
.or,
.links {
  width: 60%;
}
#signin .links a {
  display: block;
  color: #0096ff;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
#signin .or {
  display: flex;
  margin-bottom: 1.2rem;
  align-items: center;
}
#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}
#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;
}
#main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

#main-footer-signup {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  /* padding-top: 1rem; */
}

#main-footer-signup a {
  color: #0096ff;
  text-decoration: underline;
}

#main-footer a {
  color: #0096ff;
  text-decoration: underline;
}
#showcase {
  background-position: absolute;
  background-size: fill;
  background-repeat: no-repeat;
  display: flex;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.error-msg {
  margin: 10px 0;
  padding: 5px;
  padding-left: 5%;
  border-radius: 20px;
  max-width: 100%;
  font-size: 13px;
  color: #d8000c;
  background-color: #ffbaba;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}
#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}

.eye {
  position: absolute;
  transform: translate(-25px, 7px);
  color: #fff;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
}

.creditIcon {
  width: 20px;
  height: 20px;
}
