.hero_tagline {
  pointer-events: none;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.hero_header {
  margin-bottom: -1%;
}

.carousel-inner img {
  margin: auto;
}

.hero_caption {
  font-family: "Open Sans", sans-serif;
  left: 50px;
  text-align: left;
}

h1 {
  /* font-size: 60px; */
  pointer-events: none;
  top: 5%;
  font-weight: bold;
  padding: 0 0 40px 0;
}

.hero_genre-container {
  text-align: left;
}

.hero_genre {
  display: inline-block;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}

.hero_trailer {
  display: flex;
  justify-content: left;
  text-decoration: none;
  margin-bottom: 8%;
}

.hero_rating_container {
  padding: 10px 0 0 0;
}

.hero_rating {
  padding: 0 0 0 10px;
  vertical-align: bottom;
  display: inline;
}

.hero_rating_img {
  display: inline;
  width: 60px;
  height: auto;
}
.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

}

.carousel-movie .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}



  .carousel-movie .carousel-control-prev,
  .carousel-movie .carousel-control-next {
    display: flex;
  }
  
  .carousel-control-prev {
    justify-content: flex-start;
  }
  .carousel-control-next {
    justify-content: flex-end;
  }
  @media screen and (min-aspect-ratio: 21/9) {
    .carousel-control-prev {
      justify-content: flex-end;
    }
    
    .carousel-control-next {
      justify-content: flex-start;
    }
  }
/* Media Queries for Ultrawide Screens */

@media screen and (min-aspect-ratio: 21/9) {
  .hero_header {
    margin-bottom: -2%;
  }

  h1 {
    /* Adjust font-size for ultrawide */
    font-size: 60px;
  }

  .hero_genre {
    /* Adjust margin-right for ultrawide */
    margin-right: 30px;
  }

  .hero_rating_container {
    padding: 20px 0 0 0;
  }

  .hero_rating {
    padding: 0 0 0 20px;
  }
}
