.circle-container {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    border: 2px solid #0096ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    display: flex;
    i {
      color: #0096ff;
    }
    cursor: pointer;
  }