@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.info-container-1 {
  transform: translateX(-7vw) translateY(-70vh);
  display: flex;
  flex-direction: row;
  justify-content: center; /* Align icons in the middle */
  pointer-events: visibleStroke;
}

.info-container-2 {
  transform: translateX(-7vw) translateY(-68vh);
  display: flex;
  flex-direction: row;
  justify-content: center; /* Align icons in the middle */
  pointer-events: visibleStroke;
}

.content {
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Align icon and value in the middle */
  text-align: center;
}

.material-symbols-outlined {
  transform: translateY(2.5vh);
  font-size: 60px; /* Adjust the size as per your requirement */
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 0;
}
.value-container {
  margin-top: 35%;
}
.container .box {
  width: 11.875em;
  height: 12.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #0096ff;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
