@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.info-container {
  transform: translateX(-7vw) translateY(-58vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust the spacing between cards */
  pointer-events: visibleStroke;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 80px; /* Adjust the size as per your requirement */
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 0;
}
.value-container {
  margin-top: 15%;
}
.container .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

/* .container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
} */

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #0096ff;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
