@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.info-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.info-container-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(12.875em, 1fr));
  padding: 15px;
  row-gap: 15px;
}

.content {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  flex-grow: 1; 
}


.icon-container {
  transform: translateY(2.5vh);
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 0;
}

.container .box {
  max-width: 11.875em;
  min-height: 12.875em;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  color: white;

}

.container .box .title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  
}

.container .box div strong {
  display: flex;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #0096ff;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.value-container {
  margin-top: 35%;
}
