.ind-movie-page-wrapper {
  overflow-y: auto;
  height: 100vh;
}

.ind-movie-page-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-wrapper {
  transform: translateY(5%);
}

.content-wrapper {
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding-top: 30vh;
}

.background {
  display: flex;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(10px) brightness(0.35);
}

.flex-1 {
  margin-left: 5%;
  flex-grow: 1;
  margin-top: -22%;

}
.EmbeddedMovieTrailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  height: 0;
  overflow: hidden;
}
.EmbeddedMovieTrailer iframe,
.EmbeddedMovieTrailer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-poster {
  display: flex;
  max-width: 32vw;
  margin: 0 auto;
}

.btn-wrapper {
  padding-top: 3%;
  display: flex;
  align-self: start;
}

.hero-content {
  display: flex;
  max-width: 45.9vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.movie_hero_info_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 22vw;
}

.movie__title {
  font-size: 4.5rem;
  display: flex;
  margin: 0;
}

/* .movie__score {
  color: #0096ff;
  font-size: 1.3rem;
} */

.movie__year {
  font-size: 4.5rem;
  display: flex;
  color: #979596;
}

.movie__description {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
  max-width: 100%;
}

.review__description {
  margin: 0 0;
  display: flex;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 2.1rem;
  text-align: start;
}

.review__wrapper {
  display: flex;
  flex-direction: column;
}

.ind_movie_review {
  display: flex;
  padding-top: 3rem;

}

.ind_review_title {
  padding-bottom: 3vh;
  font-size: 1rem;
  color: #979596;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.no-reviews {
  padding-top: 1vh;
}

/* Scrolling css */
.mainContainer {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  background-color: #000000;
  padding: 0 20px;
  box-sizing: border-box;
}
.grid-item {
  flex-basis: 100%;
}

.grid-item-2 {
  grid-row: span 2;
}

.grid-item-3 {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  height: fit-content;
  
}

.recommended-carousel-wrapper {
  overflow: hidden;
}

@media (max-width: 1695px) {
  .hero-content {
    flex-direction: column;
    max-width: 50%;
    align-items: center;
  }
  .content-wrapper {
    padding-top: 7vh;
  }
  .hero-poster {
    max-width: 45vw ;
    margin-bottom: 2rem; 
    display: flex;
    justify-content: center;
  }

  .flex-1 {
    margin: 0;
  }
  .btn-wrapper, .review__description, .movie__description, .ind_review_title, .movie__title, .movie__year  {
    align-self: center;
    text-align: center;
  }
 
  .movie_hero_info_container {
    order: 2; 
  }
}
@media (max-width: 1000px) {
 .hero-poster {
    max-width: 70vw;
  }
}
@media (max-width: 2300px) {
  .EmbeddedMovieTrailerContainer {
    order: 1;
  }
  .grid-item-1 {
    order: 2;
  }
  .grid-item-3 {
    order: 3;
  }
  .grid-item-4 {
    order: 4;
  }
.mainContainer {
  grid-template-columns: minmax(0, 1fr);
    padding: 0 10px;
}
}