
.ind-movie-page-wrapper {
  overflow-y: auto;
}
.ind-movie-page-wrapper::-webkit-scrollbar {
  display: none;
}
.carousel-wrapper {
  transform: translateY(5%);
}
.content-wrapper {
  position: relative;
  z-index: 1;
  height: 100vh;
  font-family: "Open Sans", sans-serif;

}
.background {
  display: flex;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(10px) brightness(0.35);
}

.flex-1 {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start; /* Move the image down vertically */
  width: 85%;
}


.hero-poster {
  display: flex;
  position: absolute;
  top: 9vh;
  height: 90%;
}

.hero-poster img {
  height: 100%;
}

.btn-wrapper {
  margin-top:3%;
  display: flex;
  align-self: start;
}


.hero-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 45.9vw;
  margin: 0 auto;
  padding-right: 2vw;
  padding-top: 30vh;
  min-height: 100vh;
}

.movie_hero_info_container {
  flex: 1; 
  max-width: 55%; 
  display: flex;
  flex-direction: column; 
  
}
.movie__title {
  font-size: 4.5rem;
  display: flex;
  margin: 0
}
.movie__score {
  /* max-width: 100%; */
  color: #0096ff;
  font-size: 1.3rem;
}

.movie__year {
  font-size: 4.5rem;
  display: flex;
  color: #979596;
}


.movie__description {
  display: flex;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
}

.review__description {
  width: 100%;
  margin: 0 0;
  display: flex;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: rem;
  text-align: start;
}


.review__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.ind_movie_review {
  display: flex;
  max-width: 46vw;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}


.ind_review_title {
  font-size: 1rem;
  display: flex;
  color: #979596;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.no-reviews {
  padding-top: 1vh;
}
/* Scrolling css */
.mainContainer {
  display: grid;
  position: relative;
  z-index: 1;
    grid-template-columns: 1fr 1fr ;
  height: 100%;
  background-color: #000000;
}

.grid-item-2 {
  grid-row: span 2;
}
.grid-item-3 {
  grid-row: span 2;
  padding-left:15px
}
.recommended-carousel-wrapper {
  overflow: hidden; /* Hide any content that exceeds the fixed height */
}