.movie__type::after,
.movie::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
ind-movie-body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  width: 100%;
  height: fit-content;
  position: flex;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: #fff;
}

.ind-movie-wrapper {
  position: flex;
  z-index: 2;
}
.background {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(10px) brightness(0.35);
}

.hero-poster {
  position: absolute;
  z-index: 999;
  transform: translateX(55vw) translateY(9vh);

  height: 90%;
}
.hero-poster img {
  height: 100%;
}
@media screen and (max-width: 600px) {
  .poster img {
    margin: 0 auto;
  }
  .hero-poster {
    position: relative;
    height: 25rem;
    left: auto;
    top: auto;
  }
}

ind-movie-h1 {
  z-index: 1;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  position: flex;
  top: 4.2rem;
  left: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-h1 {
    top: 1.2rem;
    left: 1rem;
  }
}

ind-movie-nav {
  z-index: 1;
  position: flex;
  top: 4rem;
  right: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-nav {
    top: 1rem;
    right: 1rem;
  }
}

.ind-movie-wrapper {
  position: relative;
  height: 100vh;
}
/* .ind-movie-search {
  float: right;
  position: relative;
} */
/* .search input:focus,
.search .search:hover input,
.search:hover .search input {
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 10rem;
} */
/* .ind-movie_search__anim {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 2px #979596;
  position: relative;
  float: right;
} */
.btn-wrapper {
  margin-top: 1%;
  float: left;
}

/* .ind-movie_search__anim::after {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #979596;
  position: absolute;
  top: 12px;
  left: 18px;
  transform: rotate(135deg);
} */
/* .ind-movie-search input {
  float: right;
  border: 0;
  padding: 0.2rem 0 0.2rem 0;
  height: 1rem;
  width: 0;
  margin-right: 1rem;
  border-radius: 1.4rem;
  transition: 0.3s all;
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  outline: none;
} */
/* @media screen and (max-width: 600px) {
  .ind-movie-search button {
    position: flex;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
  }
} */
@media screen and (max-width: 600px) {
  .arrow__container {
    bottom: 1rem;
    right: 1rem;
  }
}
.arrow__container p {
  float: right;
  padding-right: 1rem;
}
@media screen and (max-width: 600px) {
  .arrow__container p {
    display: none;
  }
}
.container-margin {
  padding: 0 10rem;
  min-height: 110%;
}
@media screen and (max-width: 600px) {
  .container-margin {
    padding: 1rem 1rem 0 1rem;
  }
}
.ind-movie-header {
  max-width: 45.9vw;
  margin: 0 auto;
}

.movie__score,
.review__score {
  max-width: 100%;
  width: 100%;
  margin: 0 0;
  padding-top: 30vh;
  color: #0096ff;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .movie__score,
  .review__score {
    padding-top: 0;
    max-width: 100%;
  }
}
.movie__title {
  font-size: 4.5rem;
  display: inline;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .movie__title {
    font-size: 2rem;
  }
}
.movie__title__container {
  max-width: 55%;
  width: 100%;
  padding-top: 1rem;
  transform: translateX(-0.25rem);
}
@media screen and (max-width: 600px) {
  .movie__title__container {
    max-width: 100%;
  }
}
.movie__year {
  font-size: 4.5rem;
  display: flex;
  color: #979596;
}
@media screen and (max-width: 600px) {
  .movie__year {
    font-size: 2rem;
    max-width: 100%;
  }
}
.movie__type {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
}
.movie__type li {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  float: left;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .movie__type {
    max-width: 100%;
  }
}
.movie__description {
  width: 100%;
  max-width: 55%;
  margin: 0 0;
  display: flex;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
  text-align: justify;
}

.review__description {
  width: 100%;
  margin: 0 0;

  display: flex;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
  text-align: start;
}
@media screen and (max-width: 600px) {
  .movie__description {
    max-width: 100%;
  }
  .review__description {
    max-width: 100%;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

/* .ind_movie__trailer {
  margin-top: 3rem;
  display: flex;
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  border: solid 1px #494646;
  cursor: pointer;
  color: #979596;
  transition: 0.3s all;
}
.ind_movie__trailer svg {
  width: 13px;
  height: 16px;
  fill: #979596;
  float: left;
  transition: 0.3s all;
}
.ind_movie__trailer p {
  padding-left: 1rem;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s all;
  font-size: 0.95rem;
}
.ind_movie__trailerr:hover {
  border-color: #fff;
}
.ind_movie__trailer:hover svg {
  fill: #fff;
}
.ind_movie__trailer:hover p {
  color: #fff;
} */
/* Glowing Card css */

.ind-movie-details-card {
  z-index: 1;
  border-radius: 8px;
  position: relative;
  margin: 70px auto 0;
  width: 33vw;
  height: 38vh;
  transform: translateY(-55vh);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .ind-movie-details-card {
    width: 90%;
    margin: 50px auto 0;
  }
}

/* Move card to the left and up */
@media only screen and (min-width: 600px) {
  .ind-movie-details-card {
    margin-bottom: 85%;
    margin-left: -20%;
  }
}

.card-overlay {
  z-index: 2;
  border-radius: 8px;
  height: inherit;
  background-color: #000000;
}

.movie-column {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.movie-info-row {
  display: flex;
}
.movie-info-text {
  display: inline-flex;
  align-items: center;
  margin-left: 10%;
  min-width: 5vw;
}

.movie-Details-Title {
  font-family: "CoreCircus", sans-serif;
  position: relative;
  color: #0096ff;
  font-size: 1vw;
  padding: 4vh;
}

.ind-movie-details-card ul li:nth-child(1) {
  color: #0096ff;
  filter: blur(10px);
  animation: child1 2s alternate infinite;
}
.ind-movie-details-card ul li:nth-child(2) {
  color: #00ffff;
  filter: blur(5px);
  animation: child2 2s alternate infinite;
}

.ind-movie-details-card ul li:nth-child(3) {
  color: #000;
  filter: blur(0px);
}
@keyframes child1 {
  0%,
  100% {
    filter: blur(10px);
  }
  50% {
    filter: none;
  }
}
@keyframes child2 {
  0%,
  100% {
    filter: blur(5px);
  }
  50% {
    filter: blur(1px);
  }
}
.ind-movie-details-card:before,
.ind-movie-details-card:after {
  content: "";
  border-radius: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-image: linear-gradient(45deg, #0000ff, #00ffff);
  background-size: 400%;
  z-index: -5;
  animation: move 10s alternate infinite;
}
.ind-movie-details-card:after {
  filter: blur(10px);
}
@keyframes move {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

.ind_movie_review {
  max-width: 46vw;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.ind_movie_language {
  position: flex;
}
.review__score {
  padding-top: 2rem;
}
.ind_review__title {
  font-size: 1rem;
  display: inline;
  color: #979596;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .review__title {
    font-size: 2rem;
  }
}
.review__description {
  padding: 1rem;
}
.no-reviews {
  padding-top: 1vh;
}
/* Scrolling css */
.homeSlide {
  height: 100vh;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}

.hsContent h2,
.copy h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent p {
  width: 400px;
  margin: 0 auto;
  color: #b2b2b2;
}
.indMovieEmbeddedTrailer {
  position: flex;
  transform: translateX(28.5vw) translateY(2vh);
}
/* .ind-movie-poster {
  position: flex;
  bottom: 40%;
  left: 1%;
} */

/* .budget_icons_container {
  display: flex;
  align-items: left;
}
.budget-text {
  margin-left: 0.5rem;
} */
/* CAST MEMBERS */
.CastMembers {
  position: flex;
  align-items: center;
  justify-content: center;
  width: 95rem;
  transform: translateY(215%) translateX(-22%);
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
}

.border {
  height: 28vh;
  width: 295px;
  opacity: 0;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
  opacity: 1;
}

.card1:hover .profile-person,
.fa {
  opacity: 1;
  color: #0096ff;
  font-family: "CoreCircus", sans-serif;
}

h1.cast-title-1 {
  position: relative;
  transform: translateX(-31vw) translateY(55vh);
  font-family: "CoreCircus", sans-serif;
  font-size: 1.75vw;
  text-align: center;
  line-height: 1;
  color: #0096ff;
  letter-spacing: -0.5rem;
}
.border h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 10px;
  opacity: 0;
  transition: opacity 1s;
}
/* .fa {
  opacity: 0;
  transition: opacity 1s;
}
.ind-movie-cast-icons {
  position: absolute;
  fill: #0096ff;
  color: #0096ff;
  height: 130px;
  top: 226px;
  width: 50px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */
