.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

}

.carousel-movie .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}

.carousel-movie .carousel-control-prev,
.carousel-movie .carousel-control-next {
  display: flex;
}

.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
}

@media screen and (min-width: 3340px) {
  .carousel-control-prev {
    justify-content: flex-end;
  }
  
  .carousel-control-next {
    justify-content: flex-start;
  }
}