.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-movie .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-aspect-ratio: 21/9) {
  .carousel-movie .carousel-control-prev,
  .carousel-movie .carousel-control-next {
    top: -10%;
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 21/9) {
  .carousel-movie .carousel-control-prev,
  .carousel-movie .carousel-control-next {
    top: -10%;
    margin-left: -6%;
    margin-right: -6%;
  }
}