.carousel-parent {
  width: 100%;
  justify-content: center;
}

.carousel-wrapper {
  text-align: center;
  width: 100%;
}
.ShortList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}