.carousel-wrapper {
  text-align: center;
}


@media screen and (min-width: 3340px) {
  .carousel-control-prev {
    justify-content: flex-end;
  }
  
  .carousel-control-next {
    justify-content: flex-start;
  }
}