.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}


.Search input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 100%;
  background: transparent;
  color: #ffffff;
  appearance: none;
  border: 2px solid rgb(162, 162, 162);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}

.Search ::placeholder {
  color: #ffffff;
}

.Search input:focus {
  border: 2px solid #0096ff;
}

.search-results-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
}

.ind-search-result {
  background-color: #2a2a2ac8;
  backdrop-filter: blur(10px);
  display: flex;
  min-width: 15vw;
  margin: 5px;
  border: 3px solid #ccc;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.ind-search-result:hover {
  border: 3px solid #0096ff;
}

.result-title-data {
  transform: translateY(4vh);
  padding-left: 3%;
}

.result-release-date {
  color: #0096ff;
  display: inline;
  margin-left: 10px;
  font-weight: bolder;
}

.result-rating {
  margin-left: auto;
  margin-right: 5px; 
  color: #0096ff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

 @media screen and (max-width:  380px) {
  .Search {
    display: none;
  }
} 

@media screen and (max-width:  700px) {
  .Search {
    position: static;
    width: auto;
    top: auto;
    left: auto;
    transform: none;
  }
} 