/* Search */
.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 25%;
}

.Search input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 30%; /* Adjust the width as per your requirements */
  background: transparent;
  color: #ffffff;
  appearance: none;
  border: 2px solid rgb(162, 162, 162);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}

.Search ::placeholder {
  color: #ffffff;
}

.Search input:focus {
  border: 2px solid #0096ff;
  width: 60%;
}

.search-results-list {
  list-style-type: none;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
}

.ind-search-result {
  background-color: #2a2a2ac8;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: flex-start;
  width: 30vw;
  padding: 5px;
  margin: 5px;
  border: 3px solid #ccc;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
}

.ind-search-result:hover {
  border: 3px solid #0096ff;
}

.result-title-data {
  transform: translateY(4vh);
  padding-left: 3%;
}

.result-title {
  padding-bottom: 1vh;
}

.result-rating {
  margin-left: auto;
  margin-top: 0;
  color: #0096ff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
/* Media Queries */
@media screen and (min-aspect-ratio: 21/9) {
  /* Adjust the styles for narrower aspect ratios (e.g., mobile devices) */
  .Search {
   transform: translateX(0.1vw);
  }

  .Search input {
    width: 60%;
  }

  .Search input:focus {
    width: 100%;
  }
}

@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 21/9) {
  /* Adjust the styles for wider aspect ratios (e.g., landscape-oriented devices) */
  .Search {
    transform: translateX(-4.4vw);
  }

  .Search input {
    width: 60%;
  }

  .Search input:focus {
    width: 100%;
  }
}