nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigation ul {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link {
  display: flex;
  font-weight: 400;
  padding:  10px;
  transition: background 0.125s ease;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
}

.nav-link:hover {
  background: #0096FF;
  cursor: pointer;
}

@media screen and (max-width: 1850px) {
  .Navigation {
  display: none;
  }
  /* .Navigation ul {
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .nav-link {
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
  } */
}
