/* Navigation */
.Navigation ul {
  display: flex;
  height: 37px;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  transition: background 0.125s ease;
  border-radius: 3px;
  text-decoration: none;
  max-width: 127px;
}

.nav-link:hover {
  background: #0096FF;
  cursor: pointer;
}