
.Navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;  
}
.nav-link {
  display: flex;
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  transition: background 0.125s ease;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap; /* Add this property */
}
.Navigation ul:after {
  content: ""; /* Create an empty pseudo-element */
  flex-grow: 1; 
}
.nav-link:hover {
  background: #0096FF;
  cursor: pointer;
}
@media screen and (max-width: 100px) {
  .Navigation ul {
    display: none
  }
}