.NavBar {
    background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 2;
  }