.NavBar {
    background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.group__1 {
  display: flex;
  align-items: center;
}
@media screen and (max-width:  900px) {
  .group__1 {
    flex-direction: column; /* Stack the logo and navigation vertically */
    align-items: center;
    }

  .stacked__elements{
    display: flex; /* Show the stacked elements */
    flex-direction: column; /* Stack the search bar, navigation, and user profile */
    align-items: center;
    margin-top: 20px; /* Add some space between the logo and the stacked elements */
  }

} 