.NavBar {
  background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0.5%;
  align-items: flex-start; 
  z-index: 2;
}
.group__1 {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
.MobileSearchBar {
  display: none;
}
@media screen and (max-width: 650px) {
  .MobileSearchBar  {
    display: inline;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .SearchBar {
    display: none;
  }
}
