@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/* Variables */
:root {
  --font: "Lato", sans-serif;
  --red: #e50914;
  --black: #221f1f;
  --blackblack: #000000;
  --grey: #f5f5f1;
  --white: #ffffff;
}

/* General */
body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font);
}

/* Typography */
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
} 
/* /* p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
} */
