.NavBar {
    background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.group__1 {
  display: flex;
  align-items: center;
}