.NavBar {
  background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
  display: flex;
  flex-direction: column; 
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  z-index: 2;
}

.group__1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.left, .right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
  gap: 1rem;
}

.right {
  justify-content: flex-end;
}

.SearchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.MobileSearchBar {
  display: none;
}

.HeaderUser {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 650px) {
  .MobileSearchBar  {
    display: inline;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .SearchBar {
    display: none;
  }
}
