.NavBar {
    background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    margin-top: -2%;
    align-items: center;
    z-index: 2;
}
.group__1 {
  display: flex;
  align-items: center;
}
.MobileSearchBar {
  display: none;
}
@media screen and (max-width: 650px) {
  .MobileSearchBar  {
    display: inline;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .SearchBar {
    display: none;
  }
}
