.user-rating-bad {
    background-color: #ff0000 ;
  
}
.user-rating-mid {
    background-color: #ff9f00 ;
}
.user-rating-good {
    background-color: #00a71c ;
}
.user-rating-excellent {
    background-color: #0096ff;
}
.user-rating-bad, .user-rating-mid, .user-rating-good, .user-rating-excellent {
    padding: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 30px;
    border-width: 2px;
}