/* Header */
.Header {
  background-image: linear-gradient(to bottom, var(--blackblack), #00000000);
  display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}
