/* Logo */

.LogoWrapper {
  display: flex;
  align-items: flex-start;
}
.Logo {
  width: 150px;
  height: 40px;
  transition: margin 0.125s ease;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 832px) {
  .Logo {
    width: 120px;
    height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .Logo {
    width: 90px;
    height: 21px;
  }
}
@media screen and (max-width: 400px) {
  .Logo {
    width: 70px;
    height: 21px;
  }
}