/* Logo */

.NavbarLogo {
  width: 150px;
  height: auto;
  transition: margin 0.125s ease;
  display: flex;
  align-items: flex-start;
}
.HomepageLogo {
  width: 120px;
  height: 60px;
  transition: margin 0.125s ease;
  display: flex;
  align-items: flex-start;
}
.LoginLogo {
  width: 200px;
  height: 100px;
  transition: margin 0.125s ease;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 832px) {
  .Logo {
    width: 120px;
    height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .Logo {
    width: 90px;
    height: 21px;
  }
}
@media screen and (max-width: 400px) {
  .Logo {
    width: 70px;
    height: 21px;
  }
}