/* Logo */
.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  transition: margin 0.125s ease;
}

.Logo:hover {
  cursor: pointer;
  margin-top: 2px;
  filter: grayscale(100%) brightness(150%);
}
