/* Logo */
.Logo {
  width: 151px;
  height: 41px;
  transition: margin 0.125s ease;
  display: flex;
  justify-content: flex-start;

}

.Logo:hover {
  cursor: pointer;
  margin-top: 2px;
  filter: grayscale(100%) brightness(150%);
}
@media screen and (max-width: 832px) {
  .Logo {
    width: 120px;
    height: 31px;
  }
}
