.container {
  margin-top: 5%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; /* Change align-items property to flex-start */
}

@media screen and (max-width: 1500px) {
  .title-caption {
   display: none !important;
  }
}
.title-container {
  transform: translate(3vw,10vh);
}
.title-caption {
  display: flex;
  justify-content: flex-start;
  transform: translateY(-2vh);
  font-family: "CoreCircus", sans-serif;
  font-size: 1vw;
  line-height: 2;
  margin-left: 0.15%;
}
.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.titleWrapper {
  display: flex;
  justify-content: flex-start;
}
.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

}
.carousel-movie .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}

