.container {
  margin: 7% auto;
  transform: translateY(-2%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title-container {
  transform: translate(3vw,10vh);
}
.title-caption {
  display: flex;
  justify-content: flex-start;
  transform: translateY(-2vh);
  font-family: "CoreCircus", sans-serif;
  font-size: 1vw;
  line-height: 2;
  margin-left: 0.15%;
}
.pagination-container {
  display: flex;
  justify-content: center;
  transform: translateY(3vh); 
}
.titleWrapper {
  display: flex;
  justify-content: flex-start;
}
.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

}
.carousel-movie .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}

.carousel-movie .carousel-control-prev,
.carousel-movie .carousel-control-next {
  display: flex;
}
