.page-wrapper {
  position: relative;
}
.container {
  padding-top: 13%;
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.watchlist-container {
  padding-top: 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}


.title-container {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(7vh);
  min-width: 100%;
}

.titleWrapper {
  display: flex;
}
.emptyList {
  font-size: 30px;
  color: white;
}
.title-caption {
  display: flex;
  justify-content: flex-start;
  font-family: "CoreCircus", sans-serif;
  font-size: 20px;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.sort-by-btn {
  display: flex;
  margin-top: 1%;
}

.carousel-item {
  text-align: center;
}

.carousel-movie {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.carousel-movie .carousel-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 2400px) {
  .sort-by-btn {
    display: none
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding-top: 15%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-top: 5%;
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1550px) {
  .title-caption {
    display: none !important;
  }
}
