.comment-section {
    padding: 10px 0px;
  }
  
  .comment-section .media-review {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
  }
  
  .comment-section .media-review:first-child {
    border-top: 1px solid #ccc;
  }
  
  .comment-section .media {
    display: flex;
    align-items: center;
  }
  .media-body {
    width: 27vw;
  }
  .comment-section .media .media-user {
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(236, 236, 236);
    width: 77px;
    height: 77px;
  }
  
  .comment-section .media .media-user img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .comment-section .media .M-flex {
    display: flex;
    align-items: flex-start;
  }
  
  .comment-section .media .M-flex .title {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 400;
    align-items: flex-start;
  }
  
  .comment-section .media .M-flex .title span {
    font-size: 16px;
    display: inline;
    align-items: flex-start;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .comment-section .media .description {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .comment-section .media .rating-row {
    display: flex;
    align-items: center;
    margin-left: auto; /* Add this line to push the rating row to the right */
  }
  
  .rating-row ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .rating-row ul li {
    color: #ffc107;
    font-size: 20px;
    margin: 0px 3px;
  }
  