.ind-review-wrapper {
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  padding: 20px;
  text-align: left;
  width: 95%;
  overflow: hidden; 
}
.total-rating-wrapper {
  position: absolute;
  right:  2.5%;
  top:    5%
}

.ind-review-section-title {
  color: #0096ff !important;
  text-align: center;
}

.user-review-wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 10vh;
}

.post-review-btn {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.textField-wrapper {
  flex: 1;
}

.input-slider {
  justify-content: center;
  align-self: start;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-top: 3%
}

.profile-img {
  width: 60px;
}

.name-wrapper {
  text-align: center;
}

.section-line {
  border-bottom: thin solid #8f8f8f;
}
@media screen and (max-width: 500px) {
  .MuiInputBase-input {
    display: none;
  }
}