.ind-review-wrapper{
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    padding: 20px;
    transform: translateX(-20%) translateY(2vh) ;
    text-align: left;
    max-width: 97.5%;
    
}
.movie-vote-average {
    transform: translateX(22vw);
    color: white;
}

.input-wrapper {
    transform: translateY(2vh);
}

.ind-review-section-title {
    color: #0096ff !important;
    text-align: center;
}

.user-review-wrapper {
    transform: translateY(-14vh);
}

.post-review-btn {
padding-top: 1vh;
padding-bottom: 1vh;
}

.rating-wrapper {
    border-radius: 30px;
    padding: 5px;
    transform: translateY(-6.5vh);

}
.name-wrapper {
  text-align: left;
  padding-left: 0.5vw;
  padding-bottom:  1vh;
}