.ind-review-wrapper {
  background: linear-gradient(#141e30, #0096ff);
  border-radius: 0.7rem;
  padding: 20px;
  text-align: left;
  width: 50.5em;
  overflow: hidden; 
  margin-right:15px;
}

.total-rating-wrapper {
  display: inline-flex;
}

.user-review-wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 10vh;
}
.recaptcha-btn {
  display: flex;
  padding-top: 1vh;
}
.post-review-btn {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.textField-wrapper {
  flex: 1;
  padding-top: 2vh;
}

.IndReviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .MuiInputBase-input {
    display: none;
  }
  .textField-wrapper {
    order: 2;
    min-width: 100%;
    text-align: center;
  }
   .user-review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-review-btn, .recaptcha-btn {
    justify-content: center;
  }
}