.ind-review-wrapper{
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    padding: 20px;
    transform: translateX(-20%) ;
    height: 30rem;
    text-align: right;

    
}
.movie-vote-average {
    font-size: 80px;
    text-align: left;
    color: white;
}
.input-wrapper {
    flex-grow: 1;
    transform: translateY(2vh);
}
.ind-review-section-title {
    color: #0096ff !important;

}

.MuiTextField-root  {
    width: 80%;

}
.post-review-btn {
padding-top: 1vh;
padding-bottom: 1vh;

}
.review-content-wrapper {
    border: 1px solid #5900ff;
    border-radius: 30px;
    padding: 30px;
}

.rating-wrapper {
    border-radius: 30px;
    padding: 5px;
}
