.ind-review-wrapper{
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    padding: 20px;
    transform: translateX(-20%) translateY(-15vh);
    
}
.ind-review-section-title {
    color: #0096ff !important
}

.MuiTextField-root  {
    width: 80%;

}
.post-review-btn {
    display: inline-block;
    transform: translateY(0.3vh) translateX(.5vw);
}
.rating-wrapper {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    width: max-content;
}