.ind-review-wrapper{
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    padding: 20px;
    transform: translateX(-20%) translateY(2vh) ;
    text-align: left;
    max-width: 97.5%;
    
}

.movie-vote-average {
    transform: translateX(22vw) translateY(-4vh);
    color: white;
}

.input-wrapper {
    transform: translateY(2vh);
    
}
.review-content-wrapper {
    transform: translateY(2vh);
}
.ind-review-section-title {
    color: #0096ff !important;
    text-align: center;
}

.user-review-wrapper {
    transform: translateY(-17vh) ;
    display: flex;
    align-items: center;
  
}

.post-review-btn {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.textField-wrapper {
    margin-left: 15px;
    flex: 1;
}

.input-slider {
    margin-left: 1%;
}

.user-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 3%
  }
  
  .profile-img {
    width: 60px;
  }
  
  .name-wrapper {
    text-align: center;
  }

  .section-line {
    border-bottom: thin solid #8f8f8f;
    transform: translateY(-14vh);
  }