.ind-review-wrapper {
  /* background: linear-gradient(#141e30, #0096ff); */
    background: #2c2c2c;

  border-radius: 0.7rem;
  padding: 20px;
  text-align: left;
  width: 50.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  margin-right:15px;
}


.user-review-wrapper {
  display: flex;
  justify-content: center;
  width: 38em;
}
.recaptcha-btn {
  display: flex;
  padding-top: 1vh;
}
.post-review-btn {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: center;
}

.textField-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.IndReviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .MuiInputBase-input {
    display: none;
  }
  .textField-wrapper {
    order: 2;
    min-width: 100%;
    text-align: center;
  }
   .user-review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-review-btn, .recaptcha-btn {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 2535px) {
  .ind-review-wrapper{
  width: 60vw;
  margin-right:0px;
  }
}

@media screen and (max-width: 1350px) {
  .ind-review-wrapper{
  width: 51em;
  }
}
@media screen and (max-width: 830px) {
  .ind-review-wrapper{
  width: 90vw;
  }
}