.ind-review-wrapper {
  background: linear-gradient(135deg, rgba(0, 150, 255, 0.15), rgba(0, 80, 255, 0.05));
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 1.2rem;
  padding: 30px 25px;
  width: 95%;
  max-width: 900px;
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0.5px rgba(255, 255, 255, 0.1), 0 8px 24px rgba(0, 150, 255, 0.35);
  transition: all 0.3s ease;
  color: white;
}

.user-review-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background: rgba(0, 150, 255, 0.07);
  border: 2px dashed #00e676;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.user-review-wrapper:hover {
  background: rgba(0, 150, 255, 0.12);
  border-color: #00c0ff;
}
.IndReviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 2535px) {
  .ind-review-wrapper{
  width: 60vw;
  margin-right:0px;
  }
}

@media screen and (max-width: 1350px) {
  .ind-review-wrapper{
  width: 51em;
  }
}
@media screen and (max-width: 830px) {
  .ind-review-wrapper{
  width: 90vw;
  }
}