button {
  background-color: #ffffff00;
}
.css-button {
  border: 1px solid #0096ff;
  border-radius: 20px;
  height: 2.7rem;
  display: block;
  width: 218px;
  font-weight: 500;
  position: relative;
  margin: auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

p.css-button-text {
  width: 100%;
  margin-top: 3.5%;
  position: absolute;
}
p.css-button-text-2 {
  margin-top: -1%;
}

.css-button-inner-popcorn {
  top: -20px;
  height: 70px;
  width: 253px;
  position: relative;
  left: -4px;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  text-align: center;
  -webkit-transform: skew(-42deg) translate(300px, 0);
  -moz-transform: skew(-42deg) translate(300px, 0);
  -o-transform: skew(-42deg) translate(300px, 0);
  transform: skew(-42deg) translate(300px, 0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.css-button-inner-clapperboard {
  top: -10px;
  height: 70px;
  width: 253px;
  position: relative;
  left: -4px;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  text-align: center;
  -webkit-transform: skew(-42deg) translate(300px, 0);
  -moz-transform: skew(-42deg) translate(300px, 0);
  -o-transform: skew(-42deg) translate(300px, 0);
  transform: skew(-42deg) translate(300px, 0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.reset-skew {
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}

.css-button:hover > .css-button-inner-popcorn {
  -webkit-animation-name: buttonx-in;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-20px, -0px);
  -o-transform: skew(-42deg) translate(-20px, -0px);
  transform: skew(-42deg) translate(-20px, -0px);
}
.css-button:hover > .css-button-inner-clapperboard {
  -webkit-animation-name: buttonx-in;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-20px, -0px);
  -o-transform: skew(-42deg) translate(-20px, -0px);
  transform: skew(-42deg) translate(-20px, -0px);
}
.popcorn-wrapper {
  position: absolute;
  left:2.4vw
}
@keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-20px, -0px);
  }
}

@keyframes buttonx-out {
  from {
    transform: skew(-42deg) translate(0, 0);
  }
  to {
    transform: skew(-42deg) translate(300px, -0px);
  }
}

@-webkit-keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-20px, -0px);
  }
}

@-webkit-keyframes buttonx-out {
  from {
    transform: skew(-42deg) translate(0, 0);
  }
  to {
    transform: skew(-42deg) translate(300px, -0px);
  }
}
