button {
  background-color: #ffffff00;
}
.css-button {
  border: 1px solid #0096ff;
  border-radius: 20px;
  height: 2.7rem;
  display: block;
  width: 190px;
  font-weight: 500;
  position: relative;
  margin: auto;
  text-align: center;
  overflow:hidden;
  cursor: pointer;
  color: #fff;
}

p.css-button-text {
  width: 100%;
  margin-top: 3.5%;
  position: absolute;
  font-weight: bold;
}

.css-button-inner-popcorn {
  top: -20px;
  height: 70px;
  width: 225px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  text-align: center;
  -webkit-transform: skew(-42deg) translate(300px, 0);
  -moz-transform: skew(-42deg) translate(300px, 0);
  -o-transform: skew(-42deg) translate(300px, 0);
  transform: skew(-42deg) translate(300px, 0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.css-button-inner-clapperboard {
  top: -4px;
  height: 45px;
  width: 253px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  text-align: center;

  -webkit-transform: skew(-42deg) translate(300px, 0);
  -moz-transform: skew(-42deg) translate(300px, 0);
  -o-transform: skew(-42deg) translate(300px, 0);
  transform: skew(-42deg) translate(280px, 0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.clapperboard-wrapper {
  display: flex;
  justify-content: center;
 
}
.reset-skew {
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}
.popcorn-wrapper {
  display: flex;
  justify-content: center;
  max-width: 81%;
}
.css-button:hover > .css-button-inner-popcorn {
  -webkit-animation-name: buttonx-in;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-20px, -0px);
  -o-transform: skew(-42deg) translate(-20px, -0px);
  transform: skew(-42deg) translate(-20px, -0px);
}
.css-button:hover > .css-button-inner-clapperboard {
  -webkit-animation-name: buttonx-in-clapperboard;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in-clapperboard;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in-clapperboard;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-30px, -0px);
  -o-transform: skew(-42deg) translate(-30px, -0px);
  transform: skew(-42deg) translate(-30px, -0px);
}
@keyframes buttonx-in-clapperboard {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-30px, -0px);
  }
}

@keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-300px, 0);
  }
  to {
    transform: skew(-42deg) translate(-20px, -0px);
  }
}

@keyframes buttonx-out {
  from {
    transform: skew(-42deg) translate(0, 0);
  }
  to {
    transform: skew(-42deg) translate(300px, -0px);
  }
}




@media screen and (max-width: 900px) {
  .css-button {
    min-width: 245px
  }
  /* Clapperboard button */
  @keyframes buttonx-in-clapperboard {
    from {
      transform: skew(-42deg) translate(-200px, 0);
    }
    to {
      transform: skew(-42deg) translate(-5px, -0px);
    }
  }
  .css-button:hover > .css-button-inner-clapperboard {
    -moz-transform: skew(-42deg) translate(-5px, -0px);
    -o-transform: skew(-42deg) translate(-5px, -0px);
    transform: skew(-42deg) translate(-5px, -0px);
  }
  .css-button-inner-clapperboard {
    width: 260px;
  }

/* Popcorn button */
@keyframes buttonx-in {
  from {
    transform: skew(-42deg) translate(-200px, 0);
  }
  to {
    transform: skew(-42deg) translate(-5px, -0px);
  }
}  .css-button:hover > .css-button-inner-popcorn {
  -moz-transform: skew(-42deg) translate(-5px, -0px);
  -o-transform: skew(-42deg) translate(-5px, -0px);
  transform: skew(-42deg) translate(-5px, -0px);
}

.css-button-inner-popcorn {
  width: 260px;
  padding-right: 8px !important;
}

}