clapperboard-div {
  --time: 0.2s;
  --timing: ease-in-out;
  position: absolute;
  display: flex;
  width: 700px;
  height: 50px;
   transition: transform var(--time) var(--timing),
  box-shadow var(--time) var(--timing);
  background: repeating-linear-gradient(
      45deg,
      #222 0 calc(12vmin / 5),
      #ffd700 0 calc(22vmin / 5)
    )
    100% 0% / 80% 100%;

  background-color: #222;
  transform:  translateY(-1vh) rotate(-5deg) scale(0.06, 0.06);

}

clapperboard-div::before {
  content: "";
  position: absolute;
  display: flex;
  width: 700px;
  height: 450px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transform: rotate(10deg);
  transform-origin: top left;
  transition: transform var(--time) var(--timing),
    box-shadow var(--time) var(--timing);
  background: repeating-linear-gradient(
      135deg,
      #222222 0 calc(12vmin / 5),
      #ffd700 0 calc(22vmin / 5)
    )
    100% 0% / 80% 5vmin;
  background-repeat: no-repeat;
  background-color: #333;
}

clapperboard-div::after {
  display: flex;
  position: absolute;
  width: 500px;
  height: 500px;
  transition: transform var(--time) var(--timing);

  background: radial-gradient(
        closest-side,
        darkgray 90%,
        transparent 0
      )
      25% 1.5vmin / 4vmin 4vmin,
    radial-gradient(
        closest-side,
        darkgray 90%,
        transparent 0
      )
      10% calc(7vmin + 0.7vh) / 4vmin 4vmin,
    radial-gradient(
        closest-side,
        darkgray 90%,
        transparent 0
      )
      90% calc(7vmin + 0.7vh) / 4vmin 4vmin;
  background-repeat: no-repeat;
  background-color: #000;
  transform: rotate(10deg);

  transform-origin: 10% calc(8vmin + 0.8vh);
}

/* hover state */
clapperboard-div:hover {
  transform:translateY(-1vh)  rotate(0deg) scale(0.06, 0.06);
}

clapperboard-div:hover::before {
  transform: rotate(0deg);
}
