
.popcorn-wrapper {
  overflow: visible;
 transform: translateX(0.7vw) translateY(-12vh);
}
.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin: 10px auto;
}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
 fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.red .circle {
  stroke: #ff0000;
}

.circular-chart.yellow .circle {
  stroke: #ff9f00;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #ffffff;
  font-family: sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
  
}