.hero_tagline {
  pointer-events: none;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.hero_header {
  margin-bottom: -1%;
  font-weight: 700;
}

.carousel-inner img {
  margin: auto;
}
.hero_trailer {
  display: flex;
  justify-content: left;
  text-decoration: none;
}
.hero_caption {
  font-family: "Open Sans", sans-serif;
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

h1 {
  display: flex;
  justify-content: flex-start;
  pointer-events: none;
  top: 5%;
  font-weight: bold;
  padding: 0 0 60px 0;

  @media screen and (min-aspect-ratio: 21/9) {
    font-size: 60px;
    font-weight: 500;
  }

  @media screen and (max-width: 1470px) {
    padding: 0 0 10px 0;
  }

  @media screen and (max-width: 900px) {
    padding: 0 0 20px 0;
    font-size: 18px;
  }

  @media screen and (max-width: 380px) {
    justify-content: center;
    zoom: 0.75;  
  }
}

.hero_genre-container {
  text-align: left;

  .hero_genre {
    display: inline-block;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;

    @media screen and (min-aspect-ratio: 21/9) {
      margin-right: 30px;
    }

    @media screen and (max-width: 405px) {
      display: none;
    }
  }
}

.hero_rating_container {
  padding: 10px 0 0 0;

  .hero_rating {
    padding: 0 0 0 10px;
    vertical-align: bottom;
    display: inline;

    .hero_rating_img {
      display: inline;
      width: 60px;
      height: auto;
    }
  }

  @media screen and (min-aspect-ratio: 21/9) {
    padding: 20px 0 0 0;

    .hero_rating {
      padding: 0 0 0 20px;
    }
  }
}

.carousel-hero {
  & .carousel-control-prev,
  & .carousel-control-next {
    display: flex;
    width: 5vw;
  }

  & .carousel-control-prev {
    justify-content: flex-start;
  }

  & .carousel-control-next {
    justify-content: flex-end;
  }

  @media screen and (max-width: 900px) {
    .carousel-caption {
      top: 60%;
    }
    .hero_trailer {
      display: none;
    }
    .carousel-indicators {
      display: none;
    }
  }
}

@media screen and (max-width: 720px) {
  h1 {
    padding: 0 0 10px 0;
    font-size: 18px;
  }
  .hero_tagline {
    display: none;
  }
}
