.hero_tagline {
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.hero_header {
  margin-bottom: -1%;
}

/* HERO_HEADER */

.carousel-inner img {
  margin: auto;
}
body {
  background-color: black;
  display: block;
  width: inherit;
}
.hero_caption {
  font-family: "Open Sans", sans-serif;
  left: 50px;
  text-align: left;
}

h1 {
  /* font-size: 60px; */
  top: 5%;
  font-weight: bold;
  padding: 0 0 40px 0;
}

.hero_genre-container {
  text-align: left;
}

.hero_genre {
  display: inline-block;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}

.hero_trailer {
  display: flex;
  justify-content: left;
  text-decoration: none;
  margin-bottom: 8%;
  font-family: "Poppins", sans-serif;
}

.hero_rating_container {
  padding: 10px 0 0 0;
}

.hero_rating {
  padding: 0 0 0 10px;
  vertical-align: bottom;
  display: inline;
}

.hero_rating_img {
  display: inline;
  width: 60px;
  height: auto;
}
