.hero_tagline {
  pointer-events: none;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.hero_header {
  margin-bottom: -1%;
}

.carousel-inner img {
  margin: auto;
}

.hero_caption {
  font-family: "Open Sans", sans-serif;
  left: 50px;
  text-align: left;
}

h1 {
  pointer-events: none;
  top: 5%;
  font-weight: bold;
  padding: 0 0 40px 0;
}

.hero_genre-container {
  text-align: left;
}

.hero_genre {
  display: inline-block;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}
.carousel-caption {
  bottom: 10%
}
.hero_trailer {
  display: flex;
  justify-content: left;
  text-decoration: none;
}

.hero_rating_container {
  padding: 10px 0 0 0;
}

.hero_rating {
  padding: 0 0 0 10px;
  vertical-align: bottom;
  display: inline;
}

.hero_rating_img {
  display: inline;
  width: 60px;
  height: auto;
}
.carousel-hero .carousel-control-prev,
.carousel-hero .carousel-control-next {
  display: flex;
  
}
.carousel-hero .carousel-control-prev {
  justify-content: flex-start;
}
.carousel-hero .carousel-control-next {
  justify-content: flex-end;
}
/* Media Queries for Ultrawide Screens */

@media screen and (min-aspect-ratio: 21/9) {
  .hero_header {
    margin-bottom: -2%;
  }

  h1 {
    /* Adjust font-size for ultrawide */
    font-size: 60px;
  }

  .hero_genre {
    /* Adjust margin-right for ultrawide */
    margin-right: 30px;
  }

  .hero_rating_container {
    padding: 20px 0 0 0;
  }

  .hero_rating {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width:  900px) {

  h1 {
    padding: 0 0 20px 0;

  }
  .carousel-caption {
    top: 60%
  }
  .hero_trailer {
    display: none;
  }
 .carousel-indicators {
  display: none;
 }
}
@media screen and (max-width:  720px) {
  h1 {
    padding: 0 0 10px 0;
    font-size:18px;
  }
  .hero_tagline  {
    display: none;
  }

}