/* UserProfile */
.UserProfile {
  margin-left: auto;
}

/* User */
.User {
  display: flex;
}

.User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.125s ease;
}

.User .image img {
  width: 100%;
  display: block;
}

.User .name {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}

.User:hover .image {
  border: 5px solid #0096ff;
}

/* UserProfile-menu */
.UserProfile-menu {
  display: none;
}
.logout {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
