:root {
    --primary-bg: #171717;
    --secondary-bg: #262626;
    --accent-bg: #0096ff;
  
    --primary-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.7);
    --accent-color: #0096ff;
  
    --border-color: rgba(255, 255, 255, 0.3);
  
    --username-size: 32px;
    --title-size: 28px;
    --subtitle: 24px;
  }
  
  /* Layout */
  .profile-card {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 220px auto;
    background: #000;
  }
  
  .profile-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 40ch;
  }
  
  .BannerImg {
    width: 100%;
    max-height: 40ch;
    object-fit: cover;
  }
  
  /* Profile Avatar */
  .main-profile {
    display: flex;
    align-items: center;
    position: absolute;
    inset: calc(100% - 100px) auto auto 35px;
    will-change: transform;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid var(--primary-bg);
  }
  
  .img-container {
    position: relative;
    display: inline-block;
}

.AvatarEditor {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.NoContent {
    border-radius: 10px;
    padding: .5%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
  /* Upload Button */
  .custom-file-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-40%, -30%);
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* Name/Title Section */
  .profile-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 2px 30px;
    border-radius: 0 50px 50px 0;
    transform: translateX(-10px);
  }
  
  .page-title {
    color: var(--secondary-color);
  }
  
  /* Profile Body */
  .profile-body {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 70px;
    padding: 70px;
    margin-top: 15ch;
background: linear-gradient(to bottom, rgb(0,0,0), rgb(45,45,45));
  }
  
  /* Profile Actions */
  .profile-actions {
    display: grid;
    grid-template-rows: repeat(2, max-content) auto;
    gap: 10px;
    margin-top: 70px;
  }
  
  .profile-actions button {
    padding: 10px;
    color: var(--primary-color);
    border: 2px solid var(--accent-bg);
    text-align: center;
    border-radius: 10px;
    height: 6ch;
    background: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    will-change: background-color, color;
  }
  
  .profile-actions .follow {
    background-color: var(--accent-bg);
  }
  
  .profile-actions button:hover {
    background-color: var(--accent-bg);
    color: white;
  }
  
  /* Bio Section */
  .bio {
    background-color: var(--secondary-bg);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .bio-header {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    color: var(--secondary-color);
  }
  
  /* Main Info */
  .MainInfoPanel {
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto; 
    gap: 10px;
  }
  
  .HeaderContent,
  .DropdownWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .ActivityInfo,
  .RecentReviews,
  .AllReviews,
  .FavouriteMovies,
  .UserSettingsBox {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    will-change: transform, opacity;
  }

  .AverageRating {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
  }
  
  .MostReviewedGenres {
    grid-column: 1; 
    grid-row: 3;    
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
  }
  .HighestRatedMovies {
    grid-column: 1; 
    grid-row: 4;    
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
  }


  .ActivityInfo {
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
  }
  
  .RecentReviews {
    grid-column: 1;
    grid-row: 2;
  }
  
  .AllReviews {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
  }
  
 .FavouriteMovies {
  grid-column: 1 / 3;
  grid-row: 5;
  padding-bottom: 2%;
}

  
  .FavouriteMovieWrapper,
  .ShortFavouriteMovieList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
  }
  
  /* Text Input + Buttons */
  .bio-input {
    background: var(--secondary-bg);
    color: white;
    min-height: 10vh;
    max-height: 30vh;
    text-align: center;
  }
  
  .bio-save-btn {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background: var(--accent-bg);
    cursor: pointer;
    margin-top: 10px;
    border: none;
  }
  
  .Title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  
  .UserSettings,
  .UserSettingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .UserSettingsBox {
    height: 20vh;
    width: 30%;
    padding: 2%;
  }

  /* Grid Form */
  .GridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin-top: 5%;
  }
  
  .GridItem {
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
  }
  
  .SubmitInfo,
  .SubmitInfoErr {
    width: 80%;
    padding: 2%;
    text-align: center;
    border-radius: 20px;
    color: white;
  }
  
  .SubmitInfo { background: green; }
  .SubmitInfoErr { background: red; }
  
  /* Other UI */
  .RedirectResetPwd, .BtnWrapper {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .RedirectPwdLink,
  .redirectPwdLink:hover {
    color: var(--accent-color);
  }
  
  /* Responsive */
  @media screen and (max-width: 1000px) {
    .profile-card {
      height: fit-content;
    }
  
    .profile-body {
      grid-template-columns: 1fr;
      padding: 4%;
      margin-top: 0;
    }
  
    .profile-names {
      width: 100vw;
      transform: none;
      border-radius: 20px;
      align-items: center;
      background: transparent;
    }
  
    .main-profile {
      inset: calc(100% - 100px) auto auto 50%;
      transform: translateX(-50%);
      flex-direction: column;
      text-align: center;
    }
  
    .profile-actions {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 16rem;
    }
  
    .ActivityInfo,
    .RecentReviews,
    .AllReviews {
      grid-column: 1 / -1;
      height: auto;
      max-height: unset;
    }
  
    .UserSettingsBox {
      width: 100%;
      padding-bottom: 2%;
    }
  
    .UserSettings {
      width: 100%;
      padding: 10px;
    }
  
    .Title {
      text-align: center;
    }
  }
  