
.card {
  height: 379px;
  max-width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: inline;
  align-items: center;
  position: relative;
}

.border {
  height: 400px;
  width: 295px;
  opacity: 0;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
}
.border:hover {
  border: 1px solid #fff;
  opacity: 1;
}
.border h3 {
  transition: opacity 1s;
}
.card:hover .profile-person,
.fa {
  opacity: 1;
  color: #0096ff;
  font-family: "CoreCircus", sans-serif;
  font-size: 30px;
  overflow: hidden;
}

.carousel-actors {
  margin-bottom: 70px;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
  cursor: pointer;
  color: #0096ff;
}