
.card {
  height: 379px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  position: relative;
}

.Img {
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}

.Img:hover .border {
  border: 1px solid #fff;
  opacity: 1;
}

.Img:hover .border .icons {
  opacity: 1;
}

.border {
  height: 379px;
  max-width: 300px;
  opacity: 0; 
  background: transparent;
  border-radius: 10px;
  transition: opacity 0.8s, border 0.8s; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.icons {
  fill: #fff;
  color: #fff;
  height: 26vh;
  width: 50px;
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #0096ff;
  opacity: 0; 
  transition: opacity 0.8s; 
}

.border:hover {
  border: 1px solid #fff;
  opacity: 1;
}

.profile-person {
  font-size: 30px;
  font-weight: bold;
}

.Img:hover .profile-person .icons  {
  opacity: 1;
  color: #0096ff;
  font-family: "CoreCircus", sans-serif;
  overflow: hidden;
}

