/* CAST MEMBERS */
.CastMembers {
  position: flex;
  align-items: center;
  justify-content: center;
  width: 95rem;
  flex-wrap: wrap;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
}

.border {
  height: 28vh;
  width: 295px;
  opacity: 0;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
  opacity: 1;
}
.border h3 {
  transition: opacity 1s;
}
.card1:hover .profile-person,
.fa {
  opacity: 1;
  color: #0096ff;
  font-family: "CoreCircus", sans-serif;
  font-size: 1vw;
}

.carousel-actors {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 70px;
}
.carousel-actors .carousel-inner {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
}
.carousel-actors .carousel-control-prev,
.carousel-actors .carousel-control-next {
  display: flex;
}

.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
}
@media screen and (min-width: 3340px) {
  .carousel-control-prev {
    justify-content: flex-end;
  }
  
  .carousel-control-next {
    justify-content: flex-start;
  }
}
/* .fa {
  opacity: 0;
  transition: opacity 1s;
}
.ind-movie-cast-icons {
  position: absolute;
  fill: #0096ff;
  color: #0096ff;
  height: 130px;
  top: 226px;
  width: 50px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */