.comment-section {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.comment-section .media-review {
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.comment-section .media-review:first-child {
  border-top: 1px solid #ccc;
}

.comment-section .media {
  display: flex;
  align-items: center;
}

.media-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.comment-section .media .media-user {
  margin-right: 15px;
  position: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(236, 236, 236);
  width: 77px;
  height: 77px;
}

.profile-picture {
  height: 100%;
  width: 100%;
  
}

.comment-section .media .media-user img {
  width: 100%;
  object-fit: cover;
}

.comment-section .media .M-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-section .media .M-flex .title {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 400;
}

.comment-section .media .title span {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.comment-section .media .description {
  font-size: 14px;
  color: #ffffff;
  max-height: 10.6vh;
  overflow: auto;
}
.comment-section .media .description::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.comment-section .media .description::-webkit-scrollbar
{
	width: 12px;
  background-color: rgb(73, 73, 73);
  border-radius: 10px;

}

.comment-section .media .description::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0096ff;
}
.comment-section .media .delete__review {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

 .delete__review__btn {
  background-color: #0096ff;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}
.popup__title {
  justify-content: center;
  text-align: center;
  display: flex;
  color: #0096ff;
  background: rgb(0, 0, 0);
  font-family: "CoreCircus", sans-serif;
  font-size: 23px
}
.popup__content {
  background: rgb(0, 0, 0);
  padding: 30px;
  justify-content: center;
display: flex;
}
.response__message {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #0095ff6b;
}