.movie_carousel_wrapper {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  }
  @media screen and (max-width: 900px) {
    .movie_carousel_wrapper {
      transform: translateY(2.5%);
      }
  }
  @media screen and (max-width: 1700px) {
    .movie_carousel_wrapper{
      transform: translateY(2%);
    }
  }