.movie_carousel_wrapper {
  transform: translateY(0.1%);
  display: flex;
  flex-direction: column;
  }
  @media screen and (max-width: 900px) {
    .movie_carousel_wrapper {
      transform: translateY(2.5%);
      }
  }
  @media screen and (max-width: 1700px) {
    .movie_carousel_wrapper{
      transform: translateY(2%);
    }
  }