
.popup-content {
    background: rgb(0, 0, 0);
    padding: 30px;
  }
.title {
    justify-content: center;
    text-align: center;
    display: flex;
    color: #0096ff;
    background: rgb(0, 0, 0);
    font-family: "CoreCircus", sans-serif;
    font-size: 30px

}
.share_container {
    display: flex;

justify-content: space-between;  
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}