.movie__type::after,
.movie::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}
ind-movie-html,
ind-movie-body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
a {
  color: #fff;
}

.blur-container {
  filter: blur(5px);
}
.poster {
  position: fixed;
  z-index: 5;
  left: 55%;
  top: 5vh;
  height: 100%;
  width: auto;
}
.poster img {
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .poster img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .poster {
    position: relative;
    height: 25rem;
    left: auto;
    top: auto;
  }
}
#bg {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -999;
}
ind-movie-h1 {
  z-index: 1;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  position: fixed;
  top: 4.2rem;
  left: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-h1 {
    top: 1.2rem;
    left: 1rem;
  }
}
ind-movie-nav {
  z-index: 1;
  position: fixed;
  top: 4rem;
  right: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-nav {
    top: 1rem;
    right: 1rem;
  }
}
.ind-movie-wrapper {
  position: relative;
  height: 100vh;
}
.ind-movie-search {
  float: right;
  position: relative;
}
.search input:focus,
.search .search:hover input,
.search:hover .search input {
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 10rem;
}
.ind-movie_search__anim {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 2px #979596;
  position: relative;
  float: right;
}
.ind-movie_search__anim::after {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #979596;
  position: absolute;
  top: 12px;
  left: 18px;
  transform: rotate(135deg);
}
.ind-movie-search input {
  float: right;
  border: 0;
  padding: 0.2rem 0 0.2rem 0;
  height: 1rem;
  width: 0;
  margin-right: 1rem;
  border-radius: 1.4rem;
  transition: 0.3s all;
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  outline: none;
}
.ind-movie-search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}
.filter {
  padding-top: 0.2rem;
  float: right;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-decoration: none;
}
#arrow {
  fill: #fff;
  width: 68px;
  height: 18px;
  float: right;
}
.arrow__container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .arrow__container {
    bottom: 1rem;
    right: 1rem;
  }
}
.arrow__container p {
  float: right;
  padding-right: 1rem;
}
@media screen and (max-width: 600px) {
  .arrow__container p {
    display: none;
  }
}
.container-margin {
  padding: 0 10rem;
}
@media screen and (max-width: 600px) {
  .container-margin {
    padding: 1rem 1rem 0 1rem;
  }
}
.ind-movie-header {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
.movie__score,
.review__score {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  padding-top: 30vh;
  color: #e1262d;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .movie__score,
  .review__score {
    padding-top: 0;
    max-width: 100%;
  }
}
.movie__title {
  font-size: 4.5rem;
  display: inline;
  margin-right: 1rem;
}
@media screen and (max-width: 600px) {
  .movie__title {
    font-size: 2rem;
  }
}
.movie__title__container {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  padding-top: 1rem;
  transform: translateX(-0.25rem);
}
@media screen and (max-width: 600px) {
  .movie__title__container {
    max-width: 100%;
  }
}
.movie__year {
  font-size: 4.5rem;
  display: inline;
  color: #979596;
}
@media screen and (max-width: 600px) {
  .movie__year {
    font-size: 2rem;
    max-width: 100%;
  }
}
.movie__type {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
}
.movie__type li {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  float: left;
  color: #857f7f;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .movie__type {
    max-width: 100%;
  }
}
.movie__description,
.review__description {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  float: none;
  display: block;
  color: #979596;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
}
@media screen and (max-width: 600px) {
  .movie__description,
  .review__description {
    max-width: 100%;
  }
}
.ind_movie__trailer {
  margin-top: 3rem;
  display: inline-block;
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  border: solid 1px #494646;
  cursor: pointer;
  color: #979596;
  transition: 0.3s all;
}
.ind_movie__trailer svg {
  width: 13px;
  height: 16px;
  fill: #979596;
  float: left;
  transition: 0.3s all;
}
.ind_movie__trailer p {
  padding-left: 1rem;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s all;
  font-size: 0.95rem;
}
.ind_movie__trailerr:hover {
  border-color: #fff;
}
.ind_movie__trailer:hover svg {
  fill: #fff;
}
.ind_movie__trailer:hover p {
  color: #fff;
}
.ind_movie_review {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.review__score {
  padding-top: 2rem;
}
.ind_review__title {
  font-size: 1rem;
  display: inline;
  color: #979596;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .review__title {
    font-size: 2rem;
  }
}
.review__description {
  padding-top: 1rem;
}
