.movie__type::after,
.movie::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

ind-movie-html,
ind-movie-body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: #fff;
}

.ind-movie-wrapper {
  position: absolute;
  z-index: 2;
}
.background {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(10px) brightness(0.35);
}

.hero-poster {
  position: absolute;
  z-index: 999;
  left: 55%;
  top: 5vh;
  height: 100%;
  width: auto;
}
.hero-poster img {
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .poster img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .hero-poster {
    position: relative;
    height: 25rem;
    left: auto;
    top: auto;
  }
}

ind-movie-h1 {
  z-index: 1;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  position: fixed;
  top: 4.2rem;
  left: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-h1 {
    top: 1.2rem;
    left: 1rem;
  }
}
ind-movie-nav {
  z-index: 1;
  position: fixed;
  top: 4rem;
  right: 4rem;
}
@media screen and (max-width: 600px) {
  ind-movie-nav {
    top: 1rem;
    right: 1rem;
  }
}
.ind-movie-wrapper {
  position: relative;
  height: 100vh;
}
.ind-movie-search {
  float: right;
  position: relative;
}
.search input:focus,
.search .search:hover input,
.search:hover .search input {
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 10rem;
}
.ind-movie_search__anim {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 2px #979596;
  position: relative;
  float: right;
}

.ind-movie_search__anim::after {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #979596;
  position: absolute;
  top: 12px;
  left: 18px;
  transform: rotate(135deg);
}
.ind-movie-search input {
  float: right;
  border: 0;
  padding: 0.2rem 0 0.2rem 0;
  height: 1rem;
  width: 0;
  margin-right: 1rem;
  border-radius: 1.4rem;
  transition: 0.3s all;
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  outline: none;
}
.ind-movie-search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .arrow__container {
    bottom: 1rem;
    right: 1rem;
  }
}
.arrow__container p {
  float: right;
  padding-right: 1rem;
}
@media screen and (max-width: 600px) {
  .arrow__container p {
    display: none;
  }
}
.container-margin {
  padding: 0 10rem;
}
@media screen and (max-width: 600px) {
  .container-margin {
    padding: 1rem 1rem 0 1rem;
  }
}
.ind-movie-header {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
.movie__score,
.review__score {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  padding-top: 30vh;
  color: #0096ff;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .movie__score,
  .review__score {
    padding-top: 0;
    max-width: 100%;
  }
}
.movie__title {
  font-size: 4.5rem;
  display: inline;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .movie__title {
    font-size: 2rem;
  }
}
.movie__title__container {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  padding-top: 1rem;
  transform: translateX(-0.25rem);
}
@media screen and (max-width: 600px) {
  .movie__title__container {
    max-width: 100%;
  }
}
.movie__year {
  font-size: 4.5rem;
  display: inline;
  color: #979596;
}
@media screen and (max-width: 600px) {
  .movie__year {
    font-size: 2rem;
    max-width: 100%;
  }
}
.movie__type {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
}
.movie__type li {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  float: left;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .movie__type {
    max-width: 100%;
  }
}
.movie__description,
.review__description {
  max-width: 55%;
  width: 100%;
  margin: 0 0;
  float: none;
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
  padding-top: 3rem;
  line-height: 2rem;
}
@media screen and (max-width: 600px) {
  .movie__description,
  .review__description {
    max-width: 100%;
  }
}
.ind_movie__trailer {
  margin-top: 3rem;
  display: inline-block;
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  border: solid 1px #494646;
  cursor: pointer;
  color: #979596;
  transition: 0.3s all;
}
.ind_movie__trailer svg {
  width: 13px;
  height: 16px;
  fill: #979596;
  float: left;
  transition: 0.3s all;
}
.ind_movie__trailer p {
  padding-left: 1rem;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s all;
  font-size: 0.95rem;
}
.ind_movie__trailerr:hover {
  border-color: #fff;
}
.ind_movie__trailer:hover svg {
  fill: #fff;
}
.ind_movie__trailer:hover p {
  color: #fff;
}
.ind_movie_review {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.review__score {
  padding-top: 2rem;
}
.ind_review__title {
  font-size: 1rem;
  display: inline;
  color: #979596;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 600px) {
  .review__title {
    font-size: 2rem;
  }
}
.review__description {
  padding-top: 1rem;
}

/* Scrolling css */
.homeSlide {
  height: 100vh;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}

.hsContent h2,
.copy h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent p {
  width: 400px;
  margin: 0 auto;
  color: #b2b2b2;
}
.indMovieEmbeddedTrailer {
  position: absolute;
  bottom: 40%;
  left: 38%;
}
.ind-movie-poster {
  position: absolute;
  bottom: 40%;
  left: 1%;
}

/* CAST MEMBERS */
.CastMembers {
  position: absolute;
  top: 51%;
  right: 13%;
}
.profile-container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 100%;
  min-width: 115%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 370px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg")
    center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg")
    left center no-repeat;
  background-size: 600px;
}
.card0:hover,
.profile-person h2 {
  opacity: 1;
}
.card0:hover .profile-person,
.fa {
  opacity: 1;
}
.card1 {
  background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg")
    center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg")
    left center no-repeat;
  background-size: 600px;
}
.card1:hover,
.profile-person h2 {
  opacity: 1;
}
.card1:hover .profile-person,
.fa {
  opacity: 1;
}
.card2 {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg")
    center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg")
    left center no-repeat;
  background-size: 600px;
}
.card2:hover,
.profile-person h2 {
  opacity: 1;
}
.card2:hover .profile-person,
.fa {
  opacity: 1;
}
.card3 {
  background: url("https://i.pinimg.com/564x/51/ab/74/51ab741b23154b0f06814fa864bea405.jpg")
    center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url("https://i.pinimg.com/564x/51/ab/74/51ab741b23154b0f06814fa864bea405.jpg")
    left center no-repeat;
  background-size: 600px;
}
.card3:hover,
.profile-person h2 {
  opacity: 1;
}
.card3:hover .profile-person,
.fa {
  opacity: 1;
}
h1 {
  position: absolute;
  top: 62%;
  right: 59%;

  font-family: "CoreCircus", sans-serif;
  font-size: 2vw;
  text-align: center;
  line-height: 1;
  margin-left: 3%;
  position: relative;
  color: #0096ff;
  letter-spacing: -0.5rem;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
